<a href="https://colab.research.google.com/github/petermr/dictionary/blob/main/interactive_map/geotext_geopy_map_oil186.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
# install all the required packages
!pip install geopy
!pip install folium
!pip install geotext

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)
Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.5.30)
Requirement already satisfied: geotext in /usr/local/lib/python3.7/dist-packages (0.4.0)

In [51]:
# geotext gives the city names from parsed text
import pandas as pd
from geotext import GeoText
import re 
cities = []
df = pd.read_csv("oil186_20210712.csv", usecols = ["sentences"])
for index, row in df.iterrows():
    row["sentences"]=re.sub('\[', '', row["sentences"]) 
    row["sentences"]=re.sub('\]', '', row["sentences"])
    places = GeoText(str(row["sentences"]))
    cities.append(places.cities)
    df["cities"] = pd.Series(cities)

In [52]:
# geopy gives the coordinates of the city names using Nominatim (which is free and doesn't require API key)
from geopy.geocoders import Nominatim
import folium
geolocator = Nominatim(user_agent="snh")
lat = []
long = []
for index, row in df.iterrows():
    ct = geolocator.geocode(row["cities"], timeout=10)
    if ct is None:
        lat.append(None)
        long.append(None)
    else:
        latitude = (ct.latitude)
        longitude =(ct.longitude)
        lat.append(latitude)
        long.append(longitude)

df["lat"] = lat
df["long"]= long

In [53]:
#removes rows with empty list elements from the dataframe
df = df[df['cities'].astype(bool)]
df.head()

                                            sentences  ...       long
3   'The species were collected in the city of Mac...  ... -51.056959
6   'Whole plants were collected from Keranigonj, ...  ...  90.412647
7   'The plant was collected from herbal farm, Mys...  ...  76.655361
12  'officinalis  L. were collected in Chott Marie...  ...   7.779004
14  'Mez were collected in Caxiuanã National Fores...  ... -48.468245

[5 rows x 4 columns]

In [58]:
# plotting on a world map
import folium
from folium.plugins import MarkerCluster
#empty map
locations = df[['lat', 'long']]
# droping NaNs
locations=locations.dropna()

locationlist = locations.values.tolist()
world_map= folium.Map(tiles="cartodbpositron")
marker_cluster = MarkerCluster().add_to(world_map)

df2=df.drop(['lat','long'], axis=1)

#for each coordinate, create circlemarker 
for i in range(0, len(locationlist)):
        #radius=5
        df1=df2.iloc[i].to_frame()
        folium.Marker(locationlist[i],popup= df1.to_html(),icon=folium.Icon(color='darkblue',icon= 'default',prefix='fa')).add_to(world_map)
        #folium.CircleMarker(locationlist[i], radius=radius, popup= df1.to_html(), fill =True, ).add_to(marker_cluster)

world_map.save('worldmap_2.html')

In [64]:
df

                                            sentences  ...        long
3   'The species were collected in the city of Mac...  ...  -51.056959
6   'Whole plants were collected from Keranigonj, ...  ...   90.412647
7   'The plant was collected from herbal farm, Mys...  ...   76.655361
12  'officinalis  L. were collected in Chott Marie...  ...    7.779004
14  'Mez were collected in Caxiuanã National Fores...  ...  -48.468245
19  'Fruits (pods) of   A. melegueta  were collect...  ...   10.421556
20  'Leaves of   M. urundeuva  were collected from...  ...  -38.550820
22  'Four different samples of   Allium vineale  w...  ...  -86.585901
26  'Leaves of   V. guianensis  were collected in ...  ...         NaN
27  'The leaf, stem, seed, rhizome, and pod of   A...  ...    7.779004
28  'The plant material was collected in May 2013 ...  ...  -43.209373
29  'ricinus  were collected from the field during...  ...   18.071093
32  '(Chloranthaceae) flowers and leaves were coll...  ...  -46.633382
33  'The plant material was collected from a house...  ...   10.335879
36  'The engorged females ticks of   R. (B.) micro...  ... -106.383216
37  'Material and instrument : The kaffir lime oil...  ...  112.009547
39  'Samples of the flower and leaves of   F. ting...  ...         NaN
49  'The aerial parts of   Niphogeton dissecta  in...  ...   -4.149637
50  'The oleoresin (relatively fresh, yellow, with...  ...  -78.504314
58  'Adhesion and Young’s modulus calculations wer...  ...  -98.696277
60  'The seeds for   in vitro  culture were collec...  ...  -99.000000
61  'The flowers, leaves and roots of   E. ilicifo...  ...   54.465787
62  'The aerial parts of oregano were collected in...  ...   54.465787
68  'The freshly fermented cocoa beans (  Theobrom...  ...    9.565699
75  'The antibacterial activities of the essential...  ...   52.537804
76  'Larvae of   C. quinquefasciatus  were collect...  ...  -99.133178
77  'Profiles generated by TRFLP indicated that up...  ... -122.123877
80  'Wollemia nobilis  trees were purchased from w...  ...   -1.133079
81  'Wild-type   Drosophila melanogaster  were col...  ...   -0.920857
84  'L.) seeds were collected from plants growing ...  ...   10.640539
88  'The aerial parts of myrtle were collected fro...  ...   -1.251665
89  'Branches with leaves of   G .   rosmarinifoli...  ...   13.352443
90  'Siparuna guianensis  was collected in the cou...  ...  -49.068046
97  'The fruits of argan tree were collected in th...  ...   -9.583063

[34 rows x 4 columns]